.wrapper .title{
	min-height: 300px;
	text-align:center;
	font-size:3em;
	padding:100px;
}

.wrapper .input-area{
	text-align:center;
}

.wrapper .input-area input[name="name"]{
	width:300px;
	height:50px;
	padding:10px 10px;
	font-size:1.5em;
	text-align:center;
	/*border-radius: 5px;*/
}

.wrapper .input-area button[type="submit"]{
	height:50px;
	padding:10px 20px;
	font-size:1.5em;
	text-align:center;
	background-color: tomato;
	border:none;
	color:#fff;
	cursor:pointer;
	transition: all .5s;
}

.wrapper .input-area button[type="submit"]:hover{
	background-color: #fd310d;
}

.wrapper .input-area button[type="submit"]:active{
	opacity: .8;
}